[Unit]
Description=Gunicorn server for 47.98.220.122

[Service]
Restart=on-failure
User=kzm
WorkingDirectory=/home/kzm/sites/47.98.220.122/source
ExecStart=/home/kzm/sites/47.98.220.122/virtualenv/bin/gunicorn --bind unix:/tmp/47.98.220.122.socket suplerlists.wsgi:application

[Install]
WantedBy=multi-user.target
